.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.inline-flex-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: skyblue;
}
.flex-container>div{
    background-color: darkgrey;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 600px;
}
.inline-flex-container>div{
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    width: 70px;
}
.d1{
    order:1;
}
.d2{
    order:3;
}
.d3{
    order:2;
    flex-shrink: 4;
}